.title {
  text-transform: uppercase;
  font-size: xx-large;
}
.form-container {
  width: 50%;
  background-color: #181818;
  padding: 12px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #e5e1da;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  position: fixed;
  z-index: 11111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  min-height: 55vh;
  overflow: auto;
}
.form-container::-webkit-scrollbar {
  width: 5px;
  background-color: #535151;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-container::-webkit-scrollbar-thumb {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #580404;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form-container .form-group {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94%;
}

.inputC input,
.inputD input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #5e5d5d;
  background-color: #181818;
  color: #e5e1da;
}
.inputD input {
  width: 94%;
  text-align: center;
}
.inputC input::placeholder {
  opacity: 0.8;
}

.inputC input:focus,
.inputC input:hover,
.inputD input:focus,
.inputD input:hover {
  outline: none;
  border-color: #f84018;
}
.inputD input:hover {
  cursor: pointer;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 0;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #313131;
}
.inputC {
  width: 45%;
}
.inputC h3,
.inputD h3 {
  text-align: left;
  text-transform: uppercase;
}

.underList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.underList li {
  font-size: medium;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
/* .underList li:hover {
  opacity: 1;
  border-bottom: 2px solid white;
} */
.newK {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.addP {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: 0;
}
.addP:hover {
  opacity: 1;
  transform: scale(1.1);
}

.checkBox label span {
  font-size: smaller;
  color: #f84018;
}
.mssg {
  color: #ed0a0a;
  text-transform: uppercase;
  font-weight: 900;
}
.addPm {
  color: #ffee00;
  position: absolute;
  bottom: 5.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid;
  margin: 0;
}
