.holding {
  display: flex;
  justify-content: space-evenly;
  min-height: 110rem;
}

.letterContainer {
  width: 14vw;
  margin-top: 1rem;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  left: 0;
  top: 0rem;
  width: 100%;
}
.title h3 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}

.alphabetH {
  margin-top: 2rem;
}
.line {
  width: 30%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 3px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -7px;
}

.topTitle {
  position: absolute;
  z-index: 111;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffefe;
  text-transform: capitalize;
  font-variant-caps: petite-caps;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}
.topTitle span {
  width: 2rem;
  height: 2rem;
  background-color: #f84018;
  border-radius: 50%;
}
.datePicker {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 111;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.custom-datepicker {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 14px;
  border: 2px solid transparent;
  background-color: #cf3335;
}
.custom-datepicker:focus {
  outline: none;
}
.custom-datepicker:hover {
  outline: none;
  transform: scale(1.1);
}
.datePicker label {
  color: #f84018;
  text-transform: uppercase;
}
.ndiv {
    display: flex;
    position: relative;
    padding-top: 3rem;
    justify-content: space-around;
    margin-top: 3vh;
  }
  .ndiv .ndivh1 {
    background-color: #383942;
    width: 100%;
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffefe;
    text-transform: capitalize;
    font-variant-caps: petite-caps;
    padding: 0.5rem 0;
  }
  .ndiv .ndivh1::first-letter {
    color: #f84018;
    font-size: xx-large;
  }